{% extends 'base.html'%}

{% block title %}Uzsakymas{% endblock %}

{% block content %}

<h1>Uzsakymas:</h1>
<br>
<p><strong>Data: </strong>{{ order.data }}</p>
<p><strong>Automobilis: </strong>{{ order.automobilis }}</p>
<p><strong>Busena: </strong>{{ order.get_status_display }}</p>
<hr>
<table class="table table-dark table-hover">
    <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
    </tr>
{% for line in order.lines.all %}
    <tr>
        <td>{{ line.paslauga }}</td>
        <td>{{ line.paslauga.kaina }}</td>
        <td>{{ line.kiekis }}</td>
        <td>{{ line.suma }}</td>
    </tr>
{% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td><strong>TOTAL:</strong></td>
        <td><strong>{{ order.total }}</strong></td>
    </tr>
</table>
<br>
<h3>Atsiliepimai:</h3>
{% if order.reviews.all %}
{% for review in order.reviews.all %}
<hr>
<strong>{{ review.komentatorius }}</strong>, <em>{{ review.sukurimo_data }}</em>
<p>{{ review.komentaras }}</p>
{% endfor %}
{% else %}
<p>Siame uzsakyme nera jokiu atsiliepimu.</p>
{% endif %}

{% endblock %}